* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F0F0F0;
    z-index: 1000; /* Ensures it stays on top of other content */
}

.container {
    position: sticky;
    top: 0;
    background-color:#F0F0F0;
    width: 100vw;
    height: 9vh;
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoText {
    font-size: 20px;
    margin-left: 50px;
}

.menuicons {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.buttondiv {
    display: flex;
    margin-right: 5vw;
    width: 200px;
    justify-content: space-around;
}

input {
    display: none;
}


@media (max-width: 1100px) {
    .hidden {
        display: none;
    }
}

.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 span img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

